venv/
/__pycache__/

# Flask
instance/
*.pyc
*.pyo
*.egg
*.egg-info
dist/
build/
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
local_settings.py
db.sqlite
db.sqlite3
*.log
*.pot
*.mo
*.sublime-project
*.sublime-workspace
env/
.env
credentials.json
